*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	background-color: var(--bg);
	background-attachment: fixed;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--text);
	cursor: url(/images/cursors/default.png), auto;
}

body {
	margin: 0;
	/* overflow-y: scroll; */
}

.scroll,
[scroll] {
	overflow-y: scroll;
	scrollbar-width: thin;
	max-height: 200px;
}

[center] {
	text-align: center;
}

[align-right] {
	text-align: right;
}

summary {
	user-select: none;
	-webkit-user-select: none;
}

pre {
	white-space: pre-wrap;
	word-break: break-all;
}

table {
	width: 100%;
}

tbody {
	font-size: smaller;
}

.App {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

.App-background {
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("/images/scenes/moonlit-landscape-1904.jpg");
}
.App-background[data-room-index="1"] {
	background-image: url("/images/scenes/arietty.webp");
}
.App-background[data-room-index="2"] {
	background-image: url("/images/scenes/bauhaus.jpg");
}
.App-background[data-room-index="3"] {
	background-image: url("/images/scenes/chihiro.jpg");
}
.App-background[data-room-index="4"] {
	background-image: url("/images/scenes/howl.jpg");
}
.App-background[data-room-index="5"] {
	background-image: url("/images/scenes/laputa.jpg");
}
.App-background[data-room-index="6"] {
	background-image: url("/images/scenes/mononoke.jpg");
}
.App-background[data-room-index="7"] {
	background-image: url("/images/scenes/nausicaa.jpg");
}
.App-background[data-room-index="8"] {
	background-image: url("/images/scenes/1.jpg");
}
.App-background[data-room-index="9"] {
	background-image: url("/images/scenes/landscape.jpg");
}
.App-background[data-room-index="10"] {
	background-image: url("/images/scenes/flying-duo.jpg");
}
.App-background[data-room-index="11"] {
	background-image: url("/images/scenes/ponyo.jpg");
}

/* Darkens the top of the screen to highlight the player+monsters on the background. */
.App-background::before,
.App-background::after {
	content: "";
	background: linear-gradient(to bottom, #0f1642, transparent);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30vh;
	z-index: -1;
}
.App-background::after {
	top: initial;
	bottom: 0;
	background: linear-gradient(to top, #0f1642, transparent);
}

.App-background,
.Targets,
.Overlay {
	animation: fade-in 1000ms cubic-bezier(0.23, 1, 0.32, 1);
	animation-fill-mode: both;
}

.Targets {
	animation-delay: 200ms;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.Split {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0;
}

.EnergyBadge {
	position: relative;
	z-index: 1;
	font-size: 1.5rem;
	width: 2.2em;
	height: 2.2em;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid hsla(0, 0%, 0%, 0.8);
	/*transform: rotate3d(5, 15, 3, -20deg);*/
	transform: rotate(45deg);
	background-color: var(--teal);
	text-shadow:
		2px 2px 0 #000,
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	box-shadow: 0 0 0.1em var(--lightblue);
	margin-left: 1rem;
	transition: background 700ms;
	user-select: none;
	-webkit-user-select: none;
}
.EnergyBadge > span {
	transform: rotate(-45deg);
	font-feature-settings: "onum" on;
}
.no-energy .EnergyBadge {
	background: #272d2b;
}

@keyframes pulse {
	from {
		background: var(--lightblue);
	}
	to {
		background: white;
		box-shadow: 0px 0px 13px 3px var(--yellow);
	}
}

.Actions {
	text-align: right;
	margin: 0 1rem 0 0;
	position: relative;
	z-index: 1;
}

.EndTurn:hover {
	transition-duration: 80ms;
	box-shadow: 0px 0px 15px 4px var(--yellow);
}
.no-energy .EndTurn {
	animation: pulse 1.5s infinite alternate;
	animation-timing-function: ease-out;
}

/* In your hand, the cards stack a bit */
.Hand {
	margin-top: 1rem;
	transform: translateY(2rem);
}
.Hand .Cards {
	padding-left: 4rem;
	padding-right: 4rem;
}
.Hand .Card {
	margin-left: -1.5rem;
	cursor:
		url(/images/cursors/grab-open.png) 10 0,
		grab;
}
.Hand .Card[disabled] {
	cursor: not-allowed;
}
.Hand .Card:hover {
	/* transition-duration: 60ms; */
	/* transform: translate3d(0, -1rem, 0) scale(1.25) rotate(0deg) !important; */
	box-shadow: 0 0 0.75em gold;
	z-index: 1;
}

/* Don't show copy of the dragged card on target */
.Target .Card {
	position: absolute;
	right: 20%;
	z-index: 1;
}

.Container {
	/* min-height: 100vh; */
	display: flex;
	margin: auto;
	flex-flow: column;
	padding: 0 0.5rem;
}

.Container--center {
	justify-content: center;
}

.Container--vcenter {
	min-height: 100dvh;
	justify-content: center;
	align-items: center;
}

.Splash-spoder {
	width: 10%;
	position: absolute;
	left: -20%;
	top: 1%;
	transform: rotate(130deg);
}

.Splash-title {
	position: fixed;
	bottom: 3%;
	left: 3%;
	font-size: max(16px, min(15vmin, 10rem));
	color: var(--yellow);
	pointer-events: none;
}

/* Used in the main menu */
.LastRun {
	position: absolute;
	bottom: 0px;
	right: 3px;
	/* background: var(--yellow); */
	/* padding: 1px 3px; */
	font-size: x-small;
	text-decoration: none;
}

.Button:has(.LastRun) {
	position: relative;
}

.Box,
.Box--text {
	margin-left: auto;
	margin-right: auto;
	background: hsla(17, 6%, 70%, 1);
	color: hsl(17, 6%, 7%);
	padding: 1rem;
	border-radius: 0.75rem;
	border: 2px solid hsla(17, 6%, 3%, 1);
	width: 100%;
	min-width: 15rem;
	max-width: 60ch;

	&:has(.Options) {
		max-width: 36ch;
	}
}

.Box--text {
	/* background: hsla(17, 6%, 53%, 1); */
	background: var(--text-inverse);
	color: inherit;
	max-width: 30rem;
	text-align: left;
}

.Box--text a {
	color: var(--yellow);
	/* color: hsl(50.4, 70%, 56%); */
	text-decoration-thickness: from-font;
}

.Box--full {
	max-width: 60rem;
	width: 100%;
}

.Box :where(h2,h3,h4) {
	text-shadow: none;
}

.Options {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
	margin: 0 auto;
	list-style: none;
	padding: 0;
}

.Options + .Options {
	margin-top: 0.5rem;
}

.Options .Button {
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.Options--horizontal {
	flex-flow: row nowrap;
	justify-content: center;
	gap: 0.25rem;
}

.RewardsBox {
	text-align: center;
	margin-bottom: 2rem;
	/* so card animations dont cause scroll */
	overflow: hidden;
	padding: 2rem;
}
.RewardsBox h2 {
	margin-bottom: 4rem;
}
.RewardsBox .Cards {
	min-height: 0;
}
.RewardsBox .Card {
	min-height: var(--card-height);
}
.RewardsBox .CardBox:hover .Card {
	box-shadow: 0 0 0.75em gold;
}
.CardBox {
	cursor:
		url(/images/cursors/grab-open.png) 10 0,
		pointer;
}

.Form {
	fieldset {
		display: flex;
		flex-flow: column;
		gap: 0.5rem;
	}

	label {
		display: grid;
		grid-template-columns: 6rem 1fr;
		align-items: center;
	}

	& :is(p) {
		font-size: smaller;
	}
	& :is(input) {
		margin-right: auto;
		padding: 0.25rem;
	}
}
.Form--vertical {
	/* display: flex; */
	/* flex-direction: column; */
	& :is([type="text"], [type="number"]) {
		/* width: 100%; */
	}
}

.FlexGrid {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	gap: 0.3em;
}

#driver-popover-content {
	background-color: var(--bg);
	color: var(--text);
	border: 2px solid var(--text);
	border-radius: 0.4rem;
}
.driver-popover .driver-popover-title {
	font-size: 1.25rem;
	margin-top: 0.5rem;
}
.driver-popover .driver-popover-description,
.driver-popover .driver-popover-footer button {
	font-size: 1rem;
}
