@font-face {
	font-family: heliotrope_3;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_3_regular.woff2") format("woff2");
}

@font-face {
	font-family: heliotrope_3;
	font-style: italic;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_3_italic.woff2") format("woff2");
}

@font-face {
	font-family: heliotrope_3;
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_3_bold.woff2") format("woff2");
}

@font-face {
	font-family: heliotrope_3;
	font-style: italic;
	font-weight: bold;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_3_bold_italic.woff2") format("woff2");
}
@font-face {
	font-family: heliotrope_3_caps;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_3_caps_regular.woff2") format("woff2");
}

@font-face {
	font-family: heliotrope_3_caps;
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_3_caps_bold.woff2") format("woff2");
}
@font-face {
	font-family: heliotrope_4;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_4_regular.woff2") format("woff2");
}

@font-face {
	font-family: heliotrope_4;
	font-style: italic;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_4_italic.woff2") format("woff2");
}

@font-face {
	font-family: heliotrope_4;
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_4_bold.woff2") format("woff2");
}

@font-face {
	font-family: heliotrope_4;
	font-style: italic;
	font-weight: bold;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_4_bold_italic.woff2") format("woff2");
}
@font-face {
	font-family: heliotrope_4_caps;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_4_caps_regular.woff2") format("woff2");
}

@font-face {
	font-family: heliotrope_4_caps;
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_4_caps_bold.woff2") format("woff2");
}
@font-face {
	font-family: heliotrope_6;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_6_regular.woff2") format("woff2");
}

@font-face {
	font-family: heliotrope_6;
	font-style: italic;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_6_italic.woff2") format("woff2");
}
@font-face {
	font-family: heliotrope_6_caps;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_6_caps_regular.woff2") format("woff2");
}
@font-face {
	font-family: heliotrope_8;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_8_regular.woff2") format("woff2");
}

@font-face {
	font-family: heliotrope_8;
	font-style: italic;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_8_italic.woff2") format("woff2");
}
@font-face {
	font-family: heliotrope_8_caps;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url("https://assets.slaytheweb.cards/fonts/heliotrope/heliotrope_8_caps_regular.woff2") format("woff2");
}
