.Healthbar {
	position: relative;
	text-align: center;
	background: darkslategrey;
	color: var(--text-inverse);
	transition: box-shadow 400ms;
	border: 3px solid;
	border-radius: 0.5rem;
}
.Healthbar--hasBlock .Healthbar-blockBar {
	background: #afafff;
}
.Healthbar-label {
	position: relative;
	z-index: 1;
	margin: 0.4em 0;
	font-weight: bold;
	color: var(--text);
	text-shadow:
		var(--text-stroke) 1px 0px 0px,
		var(--text-stroke) 0.540302px 0.841471px 0px,
		var(--text-stroke) -0.416147px 0.909297px 0px,
		var(--text-stroke) -0.989993px 0.14112px 0px,
		var(--text-stroke) -0.653644px -0.756803px 0px,
		var(--text-stroke) 0.283662px -0.958924px 0px,
		var(--text-stroke) 0.96017px -0.279416px 0px,
		1px 1px 2px var(--text-inverse);
	/* text-shadow: */
	/* 2px 2px 0 hsla(0, 0%, 10%, 0.8), */
	/* 2px 2px 0 hsla(0, 0%, 10%, 0.8), */
	/* 2px 2px 0 hsla(0, 0%, 10%, 0.8), */
	/* 2px 2px 0 hsla(0, 0%, 10%, 0.8); */
	/* -webkit-text-stroke: 1px var(--yellow); */
}
.Healthbar-label span {
	display: inline-block;
	transform: scale(1.2);
}
@media (min-width: 800px) {
	.Healthbar-label span {
		transform: scale(1.5);
	}
}
.Healthbar-bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 0%;
	max-width: 100%;
	height: 100%;
	background: var(--yellow);
	transition:
		width 600ms var(--easing),
		background 300ms var(--easing);
	border-radius: 0.5rem;
	font-size: 1.25rem;
	line-height: 1.8;
	font-weight: bold;
	text-shadow: 1px 1px 0 hsla(0, 0%, 95%, 0.8);
}
