@import './app.css';
@import './fonts.css';
@import './overlay.css';
@import './card.css';
@import './targets.css';
@import './map.css';
@import './tooltipped.css';

:root {
	--card-width: 11em;
	--card-height: 17em;
	--yellow: #ffc107;
	--teal: #116f54;
	--lightblue: hsl(194.7, 53.3%, 79%);
	--red: hsl(0, 77%, 29%);
	--bg: hsl(0, 30%, 8%);
	--text: hsl(34, 78%, 85%);
	--text-inverse: hsla(0, 0%, 0%, 0.95);
	--text-stroke: var(--text-inverse);
}
