@import "./typography.css";
@import "./app.css";
@import "./overlay.css";
@import "./card.css";
@import "./targets.css";
@import "./fct.css";
@import "./map.css";
@import "./tooltipped.css";

:root {
	--card-width: 10em;
	--card-height: 17em;
	--yellow: #ffc107;
	--teal: #116f54;
	--lightblue: hsl(194.7, 53.3%, 79%);
	--purple: hsl(245, 20%, 49%);
	--red: hsl(0, 77%, 29%);
	--bg: hsl(0, 30%, 8%);
	--text: hsl(34, 78%, 85%);
	--text-inverse: hsla(0, 0%, 0%, 0.95);
	--text-stroke: var(--text-inverse);
	--easing: cubic-bezier(0.23, 1, 0.32, 1);
}
