@import "./variables.css";
@import "./fonts.css";
@import "./typography.css";
@import "./forms.css";
@import "./app.css";
@import "./overlay.css";
@import "./card.css";
@import "./healthbar.css";
@import "./targets.css";
@import "./fct.css";
@import "./map.css";
@import "./tooltipped.css";
@import "./console.css";

/** Styles in this file should probably be moved into dedicated files */

img-sprite {
	display: block;
}

[row] {
	display: flex;
}

.MonsterRooms {
	/* on the game screen they need more spacing, here not */
	.Target {
		margin: 0;
		padding: 0;
	}
}

.sprite-gallery {
	margin-block: 1rem;

	h2 {
		margin-top: 5vh;
		margin-bottom: 1rem;
	}

	h3 {
		margin-bottom: 0.3rem;
	}

	section {
		margin-left: 1rem;
	}

	[grid] {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		margin-left: 1rem;
		margin-block-end: 1rem;
	}

	article {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
