@import "./fonts.css";

html {
	font-size: max(16px, min(1.7vmin, 24px));
	line-height: 1.4;
}

html,
button,
input,
#driver-popover-content,
.driver-popover .driver-popover-title,
.driver-popover .driver-popover-description,
.driver-popover .driver-popover-footer button {
	font-family: "heliotrope_4", serif;
	font-feature-settings: "kern" 1;
	font-feature-settings: "liga" on;
}
