html {
	font-size: calc(16px + 0.3vw);
	line-height: 1.4;
}

html,
button,
input,
#driver-popover-content,
.driver-popover .driver-popover-title,
.driver-popover .driver-popover-description,
.driver-popover .driver-popover-footer button {
	font-family: "heliotrope_4", serif;
	font-feature-settings:
		"kern" 1,
		"liga" on;
}

h1 {
	transform: rotate3d(5, 15, 3, -13deg);
	font-size: 4rem;
	margin-top: 2rem;
	margin-bottom: 0.25rem;
	background-image: linear-gradient(68deg, #ffc516, hsl(39.3, 100%, 60.8%), hsl(47.8, 100%, 50%));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: 2px 3px hsla(240, 89%, 4%, 0.1);
	letter-spacing: -0.03em;
	line-height: 1;
}

h2,
h3,
h4 {
	font-size: 1.25rem;
	text-shadow: 1px 1px 1px var(--text-inverse);
	line-height: 1.1;
	margin: 0 0 0.5rem;
	/*font-weight: 600;*/
}
