:root {
	--card-width: 10rem;
	--card-height: 11rem;
	--yellow: #ffc107;
	--teal: #116f54;
	--lightblue: hsl(194.7, 53.3%, 79%);
	--red: hsl(0, 77%, 29%);
	--text: hsl(34, 78%, 85%);
	--text-inverse: hsla(0, 0%, 0%, 0.95);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: 14px;
	line-height: 1.2;
	color: var(--text);
	cursor: url(images/default.png), auto;
	height: 100%;
	background: linear-gradient(
		163deg,
		hsl(138.46, 50.98%, 20%) 0%,
		hsl(138.46, 50.98%, 20%) 8.1%,
		hsl(138.46, 52%, 19.61%) 15.5%,
		hsl(138.11, 53.54%, 19.41%) 22.5%,
		hsl(138.89, 56.25%, 18.82%) 29%,
		hsl(138.55, 59.14%, 18.24%) 35.3%,
		hsl(137.78, 60%, 17.65%) 41.2%,
		hsl(137.45, 63.22%, 17.06%) 47.1%,
		hsl(138.55, 66.27%, 16.27%) 52.9%,
		hsl(138.55, 69.62%, 15.49%) 58.8%,
		hsl(137.78, 71.05%, 14.9%) 64.7%,
		hsl(138.55, 75.34%, 14.31%) 71%,
		hsl(138.89, 77.14%, 13.73%) 77.5%,
		hsl(138.11, 76.81%, 13.53%) 84.5%,
		hsl(138.11, 79.1%, 13.14%) 91.9%,
		hsl(138.11, 79.1%, 13.14%) 100%
	);
}

@media (min-height: 800px) {
	html {
		font-size: 18px;
	}
}

@media (min-height: 1000px) {
	html {
		font-size: 22px;
	}
}

html,
button {
	font-family: 'concourse_t3', 'Port Lligat Slab', serif;
	font-feature-settings: 'kern' 1;
}

body {
	margin: 0;
}

[align-right] {
	text-align: right;
}

a,
button,
summary {
	cursor: url(images/point.png) 10 0, auto;
}

input,
textarea,
select {
	cursor: url(images/select.png) 10 0, auto;
}

a {
	color: inherit;
}

button {
	font-size: 1.25rem;
	padding: 0.4em 1em 0.4em;
	border: 3px solid var(--text-inverse);
	border-radius: 0.3em;
	background: var(--lightblue);
	color: var(--text-inverse);
	box-shadow: 0 0.2em var(--text-inverse);
}
button + button {
	margin-left: 0.2em;
}
button:hover,
button:focus {
	background: hsl(194.7, 53.3%, 83%);
	box-shadow: 0 0.1em var(--text-inverse);
}
button:active {
	position: relative;
	top: 0.1em;
	box-shadow: none;
}

h1 {
	transform: rotate3d(5, 15, 3, -20deg);
	font-size: 4rem;
	font-size: 10vw;
	margin-bottom: 1rem;
	background-image: linear-gradient(63deg, var(--yellow), #bd4516);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	text-shadow: 1px 2px #0c0cd526;
	letter-spacing: -1px;
}
h2 {
	font-size: 1.25rem;
	margin: 1rem 0 0.5rem;
	text-shadow: 1px 1px 1px var(--text-inverse);
}

.App {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 2rem 0rem 0;
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

.App-background {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('images/scenes/moonlit-landscape-1904.jpg');
	/* background-image: url('images/scenes/arietty.jpg'); */
	/* background-image: url('images/scenes/chihiro.jpg'); */
	/* background-image: url('images/scenes/howl.jpg'); */
	/* background-image: url('images/scenes/laputa.jpg'); */
	/* background-image: url('images/scenes/mononoke.jpg'); */
	/* background-image: url('images/scenes/nausicaa.jpg'); */
	/* background-image: url('images/scenes/ponyo.jpg'); */
}

.App-background,
.Targets,
.Split,
.Overlay {
	animation: fade-in 1000ms cubic-bezier(0.23, 1, 0.32, 1);
	animation-fill-mode: both;
}

.Targets {
	animation-delay: 200ms;
	/* animation-duration: 1000ms; */
}

.Split:not(.Targets) {
	animation-delay: 150ms;
	animation-duration: 2000ms;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Darkens the top of the screen to highlight the player+monsters on the background. */
.App-background::before,
.App-background::after {
	content: '';
	background: linear-gradient(to bottom, #0f1642, transparent);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30vh;
	z-index: -1;
}
.App-background::after {
	top: initial;
	bottom: 0;
	background: linear-gradient(to top, #0f1642, transparent);
}

.Split {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5%;
}

.EnergyBadge {
	transform: rotate3d(5, 15, 3, -20deg);
	position: relative;
	z-index: 1;
	font-size: 1.5rem;
	width: 2.2em;
	height: 2.2em;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid hsla(0, 0%, 0%, 0.8);
	transform: rotate(45deg);
	background-color: var(--teal);
	text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	box-shadow: 0 0 0.1em var(--lightblue);
	margin-left: 1rem;
	transition: background 700ms;
}
.EnergyBadge div {
	transform: rotate(-45deg);
}

.Card {
	position: relative;
	display: flex;
	border: 0.5em ridge #53b5a8;
	border-image-source: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAA7ElEQVRYhe2YMQ6DMAxFcwBGRtaeoFUv0K2qOAa36NYDVmLjMmHB0VfqEJbG3xKRvkTiAE+OnYBD2FrfDdFSAVvfDfH7vpsqQQnMMk9xmad0jWOacJ4o79fGVSgEEsPnda1qbx7a8mdifxcIJ7aKm6qHBOZxuTURQsm7i0Djc/y7fAHhYEsgTCYqD6lZRrVk1h6iAZIYoglqOg/RAflZMtwLKDZGOg+dQe0OiO60t8oyutP+/B5yF9R0QH6yTEiplgxJW+jQv30urHagJ0v22n2lSkjyEF196EjRqlRK0cowaNfmaLYfGOuyHjKsYnCffLyABLkAAAAASUVORK5CYII=);
	border-image-repeat: repeat;
	border-image-slice: 6 6 6 6;
	border-image-width: 0.75rem;
	border-width: 0.75rem;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}
.Card-inner {
	width: 100%;
	flex: 1;
	background: #2a3335;
	text-align: center;
}
.Card-title {
	margin: 0;
	padding: 0.6em 1em 0.8em;
	background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.2), transparent);
	text-shadow: 1px 1px 1px var(--text-inverse);
	user-select: none;
}
.Card-type {
	font-family: 'concourse_c3';
	margin-top: -0.5em;
	font-size: small;
	opacity: 0.6;
}
.Card-description {
	font-size: smaller;
}
.Card-energy {
	position: absolute;
	top: -1.3em;
	left: -0.3em;
	width: 1.3rem;
	height: 1.3rem;
	margin-left: 0;
	box-shadow: none;
	border-width: 0.15rem;
	background: #ad7a41;
	font-size: small;
}
.Card[disabled] .EnergyBadge {
	color: red;
}

.no-energy .EnergyBadge {
	background: #272d2b;
}
@keyframes pulse {
	from {
		background: var(--lightblue);
	}
	to {
		background: white;
		box-shadow: 0px 0px 13px 3px var(--yellow);
	}
}
.no-energy button {
	animation: pulse 1.5s infinite alternate;
	animation-timing-function: ease-out;
}

.Targets {
	flex: 1;
}
.Targets-group {
	display: flex;
	justify-content: center;
}
.Target {
	position: relative;
	margin-top: 1rem;
	padding: 1px 1em 1.4em;
	flex: 1;
	display: flex;
	flex-flow: column;

	justify-content: center;
	max-width: 20rem;
}
.Target h2 {
	margin: 0 0.5rem 0;
	padding: 0.1em 0.5em;
	/* background: var(--text-inverse); */
	background: linear-gradient(10deg, black -80%, transparent 80%);
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
.Target-intent {
	display: inline;
}
.Target-intent img {
	vertical-align: bottom;
	height: 1.2em;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}
.Target-powers {
	margin-top: 0;
	margin-left: 1em;
	min-height: 1.2em;
}
.Target-powers span {
	background: var(--red);
}
.Target-combatText {
	position: absolute;
	width: 100%;
}
.Target.is-dragOver .Healthbar {
	transition-duration: 100ms;
	box-shadow: 1em 0 2em var(--yellow), 3px 3px 1px black, 0px 0px 30px 20px white;
}
.Target--isDead {
	pointer-events: none;
}
.Target--isDead .Healthbar {
	background: var(--red);
}

.Healthbar {
	position: relative;
	text-align: center;
	background: darkslategrey;
	color: var(--text-inverse);
	transition: box-shadow 400ms;
	border: 3px solid;
	border-radius: 0.5rem;
}
.Healthbar--hasBlock .Healthbar-bar {
	background: #afafff;
}
.Healthbar-label {
	position: relative;
	z-index: 1;
	margin: 0.2em 0;
	text-shadow: 0px 0px 2px hsla(0, 0%, 75%, 0.8);
}
.Healthbar-bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 0%;
	max-width: 100%;
	height: 100%;
	background: var(--yellow);
	transition: width 400ms, background 200ms;
	border-radius: 0.5rem;
}

.Actions {
	text-align: right;
	margin-right: 1rem;
	position: relative;
	z-index: 1;
}

.Splash {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
	text-align: center;
	padding: 0 1rem;
	overflow: hidden;
}
.Splash h2 {
	margin-bottom: 1rem;
}
.Splash-details {
	width: 100%;
	max-width: 40em;
	text-align: left;
	margin: 0 auto;
}
.Splash-spoder {
	width: 10%;
	position: absolute;
	left: -20%;
	top: 1%;
	transform: rotate(130deg);
}
/* Normal card layout in one row */
.Cards {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	min-height: var(--card-height);
}
.Cards > * {
	flex-basis: var(--card-width);
	flex-shrink: 1;
	min-height: var(--card-height);
}
/* In your hand, the cards stack a bit */
.Hand {
	margin-top: 1rem;
}
.Hand .Cards {
	padding-left: 4rem;
	padding-right: 4rem;
}
.Hand .Card {
	margin-left: -1.5rem;
	margin-bottom: -2rem;
	cursor: grab;
	cursor: url(images/grab-open.png) 10 0, auto;
	/* hidden because we animate them with js*/
	opacity: 0;
}
.Hand .Card-inner {
	/* because of negative margin */
	padding-bottom: 2rem;
}
.Hand .Card[disabled] {
	cursor: not-allowed;
}
.Hand .Card:hover {
	/* transition-duration: 60ms; */
	/* transform: translate3d(0, -1rem, 0) scale(1.25) rotate(0deg) !important; */
	box-shadow: 0 0 0.75em gold;
	z-index: 1;
}

.Card.sortable-drag {
	/* opacity: 0.5; */
}

/* Don't show copy of the dragged card on target */
.Target .Card {
	position: absolute;
	right: 20%;
	z-index: 1;
}
.Target .Card.sortable-ghost {
	opacity: 0 !important;
}

/* Overlays */
.Overlay {
	position: absolute;
	z-index: 1;
	transition: background 400ms;
}
.Overlay[topleft] {
	top: 0;
	left: 0;
}
.Overlay[topright] {
	top: 0;
	right: 0;
}
.Overlay[bottomleft] {
	bottom: 0;
	left: 0;
}
.Overlay[bottomright] {
	bottom: 0;
	right: 0;
}
.Overlay summary {
	padding: 1rem;
	user-select: none;
	z-index: 1;
}
.Overlay summary + * {
	margin-left: 1rem;
	margin-right: 1rem;
	opacity: 0;
	transform: translate3d(0, 5rem, 0);
}
/* Open overlays */
.Overlay[open] {
	z-index: 10;
	width: 100%;
	height: 100%;
	background: var(--text-inverse);
}
.Overlay[open] summary {
	position: absolute;
	background: linear-gradient(to right, brown 40%, transparent);
}
.Overlay[open][topleft] summary,
.Overlay[open][topright] summary {
	top: 0;
}
.Overlay[open][bottomleft] summary,
.Overlay[open][bottomright] summary {
	bottom: 0;
}
.Overlay[open][topright] summary,
.Overlay[open][bottomright] summary {
	left: auto;
	right: 0;
	background: linear-gradient(to left, brown 40%, transparent);
}
.Overlay[open] summary + * {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: opacity 400ms 60ms cubic-bezier(0.23, 1, 0.32, 1),
		transform 400ms 60ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* Inside overlays cards are allowed to wrap */
.Overlay .Cards {
	flex-wrap: wrap;
	gap: 1rem;
	align-content: center;
	align-items: center;
	min-height: calc(100vh - 4rem);
}

.MapList {
	list-style-type: hiragana;
}

/* Used to animate a number. It pops in and then fades up and away */
.FCT {
	display: inline-block;
	margin: 0;
	font-size: 5rem;
	animation: fct-up 3s cubic-bezier(0.23, 1, 0.32, 1);
	animation-fill-mode: both;
	transform-origin: center;
	text-shadow: 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.5);
}
.FCT--block {
	color: #afafff;
	font-size: 3rem;
}
@keyframes fct-up {
	0% {
		transform: scale(0) translateY(0%);
		opacity: 0;
	}
	10% {
		opacity: 1;
		transform: scale(1) translateY(-50%);
	}
	100% {
		transform: translateY(-100%) rotateZ(15deg);
		opacity: 0;
	}
}

/* Rewards */
.RewardsBox {
	text-align: center;
	margin-bottom: 4rem;
}
.RewardsBox h2 {
	margin-bottom: 4rem;
}
.RewardsBox .Cards {
	min-height: 0;
	margin-top: 2rem;
}
.RewardsBox .Card {
	min-height: var(--card-height);
}
.CardBox {
	cursor: pointer;
}

[center] {
	text-align: center;
}
.EndTurn:hover {
	box-shadow: 0px 0px 15px 10px var(--yellow);
}

/**
 * Fonts
 */

@font-face {
	font-family: 'concourse_c3';
	src: url('fonts/concourse/concourse_c3_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* @font-face { */
/* 	font-family: 'concourse_c3'; */
/* 	src: url('fonts/concourse/concourse_c4_regular.woff') format('woff'); */
/* 	font-weight: bold; */
/* 	font-style: normal; */
/* } */

@font-face {
	font-family: 'concourse_t3';
	src: url('fonts/concourse/concourse_t3_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'concourse_t3';
	src: url('fonts/concourse/concourse_t3_italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'concourse_t3';
	src: url('fonts/concourse/concourse_t3_bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'concourse_t3';
	src: url('fonts/concourse/concourse_t3_bold_italic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
