{
	parserOptions: {
		ecmaVersion: 6,
		sourceType: "module"
	},
	env: {
		"browser": true
	},
	extends: [
		"eslint:recommended",
		"plugin:prettier/recommended"
	],
	"ignorePatterns": ["web_modules/"]
}
