:root {
	--card-width: 6em;
}

html {
	font-size: 16px;
	line-height: 1.2;
	background: #1e0a05;
	color: antiquewhite;
}

html,
button {
	font-family: 'Port Lligat Slab', serif;
	font-display: swap;
}

body {
	margin: 0;
}

button {
	font-size: 1rem;
	padding: 0.1em 0.7em 0.1em;
	border: 3px solid beige;
	border-radius: 0.3em;
	background: lightblue;
	color: hsla(0, 0%, 0%, 0.9);
}

button + button {
	margin-left: 0.2em;
}

h2 {
	font-size: 1rem;
	margin: 1rem 0;
}

.App {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	overflow-y: hidden;
	padding: 0 0.5rem;
}

.u-flex {
	display: flex;
	gap: 1rem;
}

.Player {
	flex: 1;
}

.Cards {
	position: relative;
	padding: 0.6em 0 1em 1em;
	border: 1px dotted #ffff0080;
	border-radius: 1em;
	padding: 1rem 1rem 1rem 2rem;
	min-height: 4em;
	display: grid;
	/* grid-auto-columns: minmax(6em, var(--card-width)); */
	grid-auto-columns: var(--card-width);
	grid-auto-flow: column;
	justify-content: center;
}

.Card {}

.Card-inner {
	display: flex;
	flex-flow: column;
	position: relative;
	border: 3px solid sandybrown;
	border-radius: 3px;
	background: #716664;
	text-align: center;
	box-shadow: 1px 2px 3px #00000080;
	/* margin-left: -1rem; */
}

.dropzone .Card:hover .Card-inner {
	z-index: 101;
	cursor: grab;
	transition-duration: 60ms;
	transform: translate3d(0, -1rem, 0) scale(1.5);
	box-shadow: 0 0 0.5em cyan;
}

.Card-title {
	margin: 0;
	padding: 0.1em 1em 0.15em;
	background: darkgray;
	color: whitesmoke;
	text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.8);
}

.Card-type {
	font-size: smaller;
	margin-top: 0.3em;
}

.Card-effects {
	margin: 1rem 0.2rem;
	font-size: small;
}

.Card-energy {
	position: absolute;
	top: -0.5em;
	left: -0.3em;
	width: 1.4em;
	height: 1.4em;
	margin: 0;

	display: flex;
	place-content: center;
	place-items: center;
	font-weight: bold;
	border-radius: 50%;
	line-height: 1;
}

.Card-energy,
.Energybar {
	background: teal;
	color: antiquewhite;
	text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.8);
}

.Energybar {
	display: inline-flex;
	padding: 0.2em 0.3em 0.2em;
	border-radius: 1em;
	border: 2px solid;
	margin-left: 0.7rem;
}

.Healthbar {
	position: relative;
	border: 2px solid;
	border-radius: 1em;
	text-align: center;
	background: darkslategrey;
}

.Healthbar-value {
	position: absolute;
	left: 0;
	top: 0;
	width: 0%;
	height: 100%;
	border-radius: 1em;
	background: red;
}

.Healthbar p {
	margin: 0.2em 0 0.1em;
	position: relative;
	z-index: 1;
}

.draggable-source--is-dragging {
	opacity: 0.5;
	/* visibility: hidden; */
}

.Card.draggable-mirror {
	max-width: var(--card-width);
}
