:root {
	--card-width: 6em;
}

html {
	font-size: 16px;
	line-height: 1.2;
	background: black;
	color: antiquewhite;
}

html,
button {
	/* font-family: 'Kreon', serif; */
	/* font-family: 'B612', sans-serif; */
	font-family: 'Port Lligat Slab', serif;
	font-display: swap;
}

body {
	margin: 0;
}

button {
	font-size: 1rem;
	padding: 0.1em 0.7em 0.1em;
	border: 3px solid beige;
	border-radius: 0.3em;
	background: lightblue;
	color: hsla(0, 0%, 0%, 0.9);
}

h2 {
	font-size: 1em;
	margin: 1rem 0;
}

.Cards {
	position: relative;
	padding: 0.6em 0 1em 1em;
	border: 1px dotted yellow;
	padding: 1rem;
	margin: 1rem;
	min-height: 6em;
	display: grid;
	/* grid-auto-columns: minmax(6em, var(--card-width)); */
	grid-auto-columns: var(--card-width);
	grid-auto-flow: column;
	gap: 1em;
}

.Cards:last-of-type {
	margin-top: auto;
}

.Card {
	position: relative;
	border: 3px solid sandybrown;
	border-radius: 3px;
	background: #716664;
	text-align: center;
	margin-left: -2rem;
	box-shadow: 0 0 0.5em cyan;
	font-size: smaller;
	/* transition-duration: 100ms; */
}

.Card:hover {
	z-index: 101;
	cursor: grab;
	transition-duration: 30ms;
	transform: translate3d(0, -1rem, 0) scale(1.1) !important;
	box-shadow: 0 0 1em cyan;
}

.Card-title {
	margin: 0 0 0.5em;
	padding: 0.2em 1em 0.08em;
	background: darkgray;
	color: whitesmoke;
	text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.8);
}

.Card-type {}

.Card-effects {
	margin: 0 0.8em 1em;
}

.Card-energy {
	position: absolute;
	top: -0.5em;
	left: -0.3em;
	width: 1.4em;
	height: 1.4em;
	margin: 0;

	display: flex;
	place-content: center;
	place-items: center;
	font-size: x-large;
	font-weight: bold;
	border-radius: 50%;
	line-height: 1;
}

.Card-energy,
.Energybar {
	background: teal;
	color: antiquewhite;
	text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.8);
}

.Energybar {
	display: inline-block;
	padding: 0.2em 0.3em 0.1em;
	border-radius: 0.2em;
	border: 3px solid;
}

.Healthbar {
	position: relative;
	margin: 1rem 0;
	border: 1px solid;
	border-radius: 1em;
	text-align: center;
	background: darkslategrey;
}

.Healthbar-value {
	position: absolute;
	left: 0;
	top: 0;
	width: 0%;
	height: 100%;
	border-radius: 1em;
	background: red;
}

.Healthbar p {
	margin: 0.2em 0 0.1em;
	position: relative;
	z-index: 1;
}

.App {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	overflow-y: hidden;
}

.u-flex {
	display: flex;
}

.Player {
	flex: 1;
	padding: 0 1rem;
}

.draggable-source--is-dragging {
	opacity: 0.5;
	/* visibility: hidden; */
}

.Card.draggable-mirror {
	max-width: var(--card-width);
}
