---
import {Content as ChangelogDoc} from '../../../CHANGELOG.md'
import Layout from '../layouts/Layout.astro'
import '../styles/index.css'
---

<Layout title="Changelog">
  <div class="Container">
		<p><a class="Button" href="/">&larr; Menu</a></p>
		<div class="Box">
			<p>
				The source for this game is <a href="https://github.com/oskarrough/slaytheweb" rel="noopener noreferrer" target="_blank">open source</a>.
			</p>
			<ChangelogDoc />
		</div>
  </div>
</Layout>
