---
import Layout from '../layouts/Layout.astro'
import '../styles/index.css'
---

<Layout title="Deck Editor">
	<div id="deck-editor-app"></div>

	<script>
		import { DeckEditorApp } from "../components/deck-editor-app"
		import {render, html} from '../lib.js'
		render(html`<${DeckEditorApp} />`, document.getElementById('deck-editor-app'))
	</script>
</Layout>
