---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Manual - Slay the Web">
  <div class="Container">
    <header class="Header">
      <h1 medium>Slay the Web Manual</h1>
    </header>
    <div class="Box">
      <ul class="Options">
        <li><a class="Button" href="/">Back</a></li>
      </ul>
    </div>
    <div class="Box Box--text">
      <p>
        Slay the Web is a single player card game where you fight monsters to reach the end of the web. It's a
        game of planning and knowing when to play which card.
      </p>
      <p>
        Every turn you draw 5 cards from your draw pile. Most cards cost energy to play. Energy is refreshed
        every turn.
      </p>
      <p>
        Cards may deal damage to monsters, block enemy attacks or make them weak or vulnerable. They can heal
        you and other things. You'll figure it out.
      </p>
      <p>
        Beware, whenever you end your turn, the monsters take turn. Above each target you'll get a hint which
        action it will take on it's upcoming turn.
      </p>
      <p>
        Should you manage to kill the monsters in a room before they end you, you'll proceed to the next room.
        Maybe there will be rewards. Can you reach the end?
      </p>
    </div>
    <div class="FlexGrid">
      <div class="Box Box--text">
        <p>
          All credit to the original
          <a href="https://www.megacrit.com" rel="noreferrer" target="_blank">Slay the Spire game</a>.
        </p>
      </div>
      <div class="Box Box--text">
        <p>
          <a href="https://github.com/oskarrough/slaytheweb" rel="noreferrer" target="_blank"
            >This game is open source</a
          >. It'd be wonderful with more contributors, it's (relatively) straight forward to for example, add
          new cards, monsters or fights.
        </p>
      </div>
      <div class="Box Box--text">
        <p>
          Come chat on
          <a href="https://matrix.to/#/#slaytheweb:matrix.org" rel="noreferrer" target="_blank">
            #slaytheweb:matrix.org
          </a>
        </p>
      </div>
      <div class="Box Box--text">
        <p>
          You can inspect &mdash; and modify &mdash; pretty much anything in the game using the browser's
          developer tools. This can definitity cause weird and fun behaviours.
        </p>
        <p>Open the console and type <code>stw</code> or <code>stw.help()</code>.</p>
      </div>
      <div class="Box Box--text">
        <p>Check the <a href="/map-demo">map component demo</a>!</p>
      </div>
      <div class="Box Box--text">
        <p>
          Read the
          <a
            href="https://github.com/oskarrough/slaytheweb/blob/main/CHANGELOG.md"
            rel="noreferrer"
            target="_blank">changelog</a
          >.
        </p>
      </div>
    </div>
  </div>
</Layout>
