---
import Layout from '../layouts/Layout.astro'
import '../styles/index.css'
---

<script src="../elements/map-demo.js"></script>

<Layout title="Map demo from Slay the Web">
  <div class="Container">
    <stw-map-demo></stw-map-demo>
  </div>
</Layout>

<style>
  slay-map {
    min-height: calc(100vh - 5rem);
  }
</style>
