---
import Layout from '../layouts/Layout.astro'
import DebugUI from '../components/debug-ui.js'
---

<script src="../components/slay-the-web.js"></script>

<Layout title="PVP">
  <p>hey</p>
  <!-- <slay-the-web></slay-the-web> -->
</Layout>

