---
import Layout from '../../layouts/Layout.astro'
// import '../../styles/typography.css'
import '../../styles/index.css'
import Run from '../../components/run-stats'
---

<Layout title="Statistics & Highscores">
	<article class="Container">
		<p><a class="Button" href="/stats">&larr; Highscores</a></p>

		<Run client:only />
	</article>
</Layout>
