@font-face {
	font-family: 'concourse_c3';
	src: url('../fonts/concourse/concourse_c3_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* @font-face { */
/* 	font-family: 'concourse_c3'; */
/* 	src: url('../fonts/concourse/concourse_c4_regular.woff') format('woff'); */
/* 	font-weight: bold; */
/* 	font-style: normal; */
/* } */

@font-face {
	font-family: 'concourse_t3';
	src: url('../fonts/concourse/concourse_t3_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'concourse_t3';
	src: url('../fonts/concourse/concourse_t3_italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'concourse_t3';
	src: url('../fonts/concourse/concourse_t3_bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'concourse_t3';
	src: url('../fonts/concourse/concourse_t3_bold_italic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
