.MapContainer {
	position: relative;
	z-index: 500;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.MapFooter {
	align-self: flex-end;
	text-align: right;
	padding: 2rem;
}

slay-map {
	--rows: 12;
	--columns: 6;
	--pathColor: darkgray;
	--highlight: gold;
	box-sizing: border-box;
	display: grid;
	width: 90%;
	margin: auto;
	/* min-height: 300vh; */
	min-height: 150rem;
	padding: 1em;
	position: relative;
	/* background: hsl(120, 17.5%, 19%); */
}

slay-map-row {
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	grid-gap: 0.5em;
}

slay-map-row:first-of-type,
slay-map-row:last-of-type {
	grid-template-columns: repeat(var(--rows), 1fr);
}
slay-map-row:first-of-type slay-map-node,
slay-map-row:last-of-type slay-map-node {
	grid-column-start: 6;
	grid-column-end: 8;
	transform: none !important;
}

slay-map-node {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	border: 3px dashed transparent;
	position: relative;
	z-index: 2;
	border-radius: 50%;
	transition: opacity 250ms, border-color 250ms;
	/* All nodes are disabled by default */
	pointer-events: none;
	visibility: hidden;
}
slay-map-node[linked] {
	visibility: visible;
}
slay-map-node[did-visit] {
	border-color: hsla(0, 0%, 0%, 0.9);
	opacity: 0.666;
}
slay-map-node:not([did-visit]) {
	opacity: 0.5;
}
slay-map-node[current][type] {
	border-color: var(--highlight);
	background-color: var(--bg);
	opacity: 1;
	z-index: 2;
}
slay-map-node[can-visit] {
	pointer-events: auto;
	opacity: 1;
}
slay-map-node[type]:hover {
	border-color: hsla(0, 0%, 0%, 0.9);
	cursor: pointer;
	cursor: url(../images/cursors/point.png) 10 0, auto;
}
slay-map-node > span {
	transition: transform 300ms ease-in-out;
	transform-origin: center;
}
slay-map-node[type]:hover > span {
	transform: scale(1.3);
	transition-duration: 100ms;
}
/* the map node-types (what happens in this node) */
/* node-type "start" */
slay-map-node[node-type] span {
	user-select: none;
	/* min-height: 3em; */
	/* min-width: 3em; */
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg);
}


/* footstep to the bottom */
slay-map-node[node-type='start'][current] span {
	transform: rotate(180deg);
}
/* the start and end nodes */
slay-map-node[node-type='start'],
slay-map-node[node-type='boss'] {
	font-size: 3rem;
}
/* "Camp" */
slay-map-node[node-type='C'] {
	font-size: 3rem;
	border-style: dotted;
}
/* "Monster" of normal level */
slay-map-node[node-type='M'][current] {
	/* background-color: lightgray; */
}
/* "Elite" monster*/
slay-map-node[node-type='E'][current] {
	/* background-color: red; */
}
/* "boss", the end level */
slay-map-node[node-type='boss'] {
	font-size: 5rem;
	border-color: gold;
	animation-name: nodeTypeBoss;
	animation-duration: 3000ms;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	border-width: 0.5rem;
}

/* node-types with "emojis" */
slay-map-node[node-type='C'],
slay-map-node[node-type='M'],
slay-map-node[node-type='E'] {
}

slay-map svg.paths {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	pointer-events: none;
}
slay-map svg.paths line {
	stroke: var(--pathColor);
	stroke-width: 3px;
	stroke-dasharray: 0.7em;
	opacity: 0.3;
}

/* map animations */

@keyframes nodeTypeM {
	0% {
		background-color: red;
	}
	100% {
		background-color: blue;
	}
}

@keyframes nodeTypeBoss {
	0% {
		border-color: gold;
	}
	100% {
		border-color: cyan;
	}
}
