.Targets {
	flex: 1;
}
.Targets-group {
	display: flex;
	justify-content: center;
}
.Target {
	position: relative;
	margin-top: 1rem;
	padding: 2em 1em 1.4em;
	flex: 1;
	display: flex;
	flex-flow: column;
	transition: opacity 200ms;
	justify-content: center;
	max-width: 20rem;
}
.Target h2 {
	min-height: 1.4em;
	margin: 0 0.5rem 0;
	padding: 0.1em 0.5em;
	/* background: var(--text-inverse); */
	background: linear-gradient(10deg, black -80%, transparent 80%);
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
.Target-intent {
	display: inline-block;
}
.Target-intent img {
	vertical-align: bottom;
	height: 1.2em;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}
.Target-powers {
	margin-top: 0;
	margin-left: 1em;
	min-height: 1.2em;
}
.Target-powers span {
	background: var(--red);
	margin-right: 0.2em;
}
.Target-combatText {
	position: absolute;
	width: 100%;
	pointer-events: none;
}
.Target.is-dragOver .Healthbar {
	transition-duration: 100ms;
	box-shadow: 1em 0 2em var(--yellow), 3px 3px 1px black, 0px 0px 30px 20px white;
}
.Target--isDead {
	pointer-events: none;
	opacity: 0.2;
}
.Target--isDead .Healthbar {
	background: var(--red);
}

.Healthbar {
	position: relative;
	text-align: center;
	background: darkslategrey;
	color: var(--text-inverse);
	transition: box-shadow 400ms;
	border: 3px solid;
	border-radius: 0.5rem;
}
.Healthbar--hasBlock .Healthbar-blockBar {
	background: #afafff;
}
.Healthbar-label {
	position: relative;
	z-index: 1;
	margin: 0.2em 0;
	font-weight: bold;
	color: var(--text);
	text-shadow: var(--text-stroke) 1px 0px 0px, var(--text-stroke) 0.540302px 0.841471px 0px,
		var(--text-stroke) -0.416147px 0.909297px 0px, var(--text-stroke) -0.989993px 0.14112px 0px,
		var(--text-stroke) -0.653644px -0.756803px 0px, var(--text-stroke) 0.283662px -0.958924px 0px,
		var(--text-stroke) 0.96017px -0.279416px 0px, 1px 1px 2px var(--text-inverse);
	/* text-shadow: */
	/* 2px 2px 0 hsla(0, 0%, 10%, 0.8), */
	/* 2px 2px 0 hsla(0, 0%, 10%, 0.8), */
	/* 2px 2px 0 hsla(0, 0%, 10%, 0.8), */
	/* 2px 2px 0 hsla(0, 0%, 10%, 0.8); */
	/* -webkit-text-stroke: 1px var(--yellow); */
}
.Healthbar-label span {
	display: inline-block;
	transform: scale(1.2);
}
@media (min-width: 800px) {
	.Healthbar-label span {
		transform: scale(1.7);
	}
}
.Healthbar-bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 0%;
	max-width: 100%;
	height: 100%;
	background: var(--yellow);
	transition: width 400ms, background 200ms;
	border-radius: 0.5rem;
	font-size: 1.25rem;
	line-height: 1.3;
	font-weight: bold;
	text-shadow: 1px 1px 0 hsla(0, 0%, 95%, 0.8);
}

/* Used to animate a number. It pops in and then fades up and away */
.FCT {
	display: inline-block;
	margin: 0;
	font-size: 5rem;
	animation: fct-up 3s cubic-bezier(0.23, 1, 0.32, 1);
	animation-fill-mode: both;
	transform-origin: center;
	text-shadow: 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.5);
}
.FCT--block {
	color: #afafff;
	font-size: 3rem;
}
@keyframes fct-up {
	0% {
		transform: scale(0) translateY(0%);
		opacity: 0;
	}
	10% {
		opacity: 1;
		transform: scale(1) translateY(-50%);
	}
	100% {
		transform: translateY(-100%) rotateZ(15deg);
		opacity: 0;
	}
}
